<!doctype html>
<html lang="en">
<head>
    <title>Korean Learning Library</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css?">
</head>
<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"  ></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
        <h1><a class="logo">Korean Learning Library</a></h1>
        <ul class="list-unstyled components mb-5">
            <li>
                <a id="subject_marker"></a>
            </li>
            <li>
                <a id="object_marker"></a>
            </li>
            <li>
                <a id="ㄷ_irregular"></a>
            </li>
            <li>
                <a id="르_irregular"></a>
            </li>
            <li>
                <a id="ㅅ_irregular"></a>
            </li>
            <li>
                <a id="too_much"></a>
            </li>
            <li>
                <a id="linking_verbs"></a>
            </li>
            <li>
                <a id="prepositions_of_place"></a>
            </li>
            <li>
                <a id="Shall_we_...?"></a>
            </li>
            <li>
                <a id="about_approximately"></a>
            </li>
            <li>
                <a id="linking_verbs2"></a>
            </li>
            <li>
                <a id="future_tense"></a>
            </li>
        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 mt-3 pt-5">
        <h2 class="mb-4 text-center">-가/-이</h2>
        <h3 class="mb-4 text-center">Subject Marker</h3>
        <div class="container rule mx-auto p-3">
            <h5>Rule</h5>
            <p class="ml-3">Subject ends with a vowel: +이</p>
            <p class="ml-3">Subject ends with a consonant: +가</p>
        </div>
        <div class="container example mx-auto mt-3 p-3">
            <h5>Examples</h5>
            <p class="ml-3">의사가 사과를 먹어요</p>
            <p class="ml-3">선생님이 사과를 먹어요</p>
        </div>
    </div>
</div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/main.js"></script>

</body>
</html>